
StatisticalMeasuresProject/.vs/StatisticalMeasuresProject/v16/.suo
StatisticalMeasuresProject/.vs/StatisticalMeasuresProject/v16/Browse.VC.db-shm
StatisticalMeasuresProject/.vs/StatisticalMeasuresProject/v16/Browse.VC.db
StatisticalMeasuresProject/.vs/StatisticalMeasuresProject/v16/Browse.VC.db-wal
StatisticalMeasuresProject/.vs/StatisticalMeasuresProject/v16/Browse.VC.opendb
StatisticalMeasuresProject/.vs/StatisticalMeasuresProject/v16/ipch/6d775ba1d1cb8d95.ipch
